body {
    background-color: #FAEBD7;
}

@font-face {
    font-family: "Chicago";
    src:
        url("./ressources/police/Chicago.otf") format("opentype");
}
/*Pas libre de droit*/

@font-face {
    font-family: "Wednesday";
    src:
        url("./ressources/police/Wednesday.ttf") format("opentype");
}
/*Libre de droit*/


@font-face {
    font-family: "Dinasty";
    src:
        url("./ressources/police/Dinasty_Personal_Use.ttf") format("opentype");
}
/*Pas libre de droit*/

@font-face {
    font-family: "Amarillo";
    src:
        url("./ressources/police/Amarillo.ttf") format("opentype");
}

@font-face {
    font-family: "Hello Honey";
    src:
        url("./ressources/police/hello_honey.otf") format("opentype");
}
/*Pas libre de droit*/

@font-face {
    font-family: "Vogue";
    src:
        url("./ressources/police/Vogue.ttf") format("opentype");
}
/*Pas libre de droit*/

@font-face {
    font-family: "Cinzel Regular";
    src:
        url("./ressources/police/Cinzel-Regular.otf") format("opentype");
}
/*Pas libre de droit*/

@font-face {
    font-family: "Argue";
    src:
        url("./ressources/police/Argue.otf") format("opentype");
}
/*Pas libre de droit*/

@font-face {
    font-family: "Safira March";
    src:
        url("./ressources/police/Safira\ March.otf") format("opentype");
}
/*Pas libre de droit*/

@font-face {
    font-family: "Brand";
    src:
        url("./ressources/police/Brand.otf") format("opentype");
}

@font-face {
    font-family: "Atlane";
    src:
        url("./ressources/police/Atlane\ OTF.otf") format("opentype");
} 
/*Pas libre de droit*/

@font-face {
    font-family: "Ethereal";
    src:
        url("./ressources/police/Ethereal-Thin.otf") format("opentype");
}
/*Pas libre de droit*/

@font-face {
    font-family: "Winter";
    src:
        url("./ressources/police/Winter\ Coffee.ttf") format("opentype");
}

header {
    font-size: 40px;
    font-family: 'Vogue';
}

h1{
    text-align: center;
    background-color: #FFF8DC;
    font-family: 'Winter';
    text-align: center;
    background-attachment: none;
    text-decoration: wavy;
    display: contents;
    padding: 1em;
    position: absolute;
}

h4 {
    font-family: 'Wednesday';
}

.case {
    display: flex; 
    justify-content: center; 
    align-items: center;
    column-gap: 120px;
    flex-direction: row;
    align-self: center;
}

.case div {
    display: block;
    min-width: 120px;
    margin: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    box-orient: vertical;
    background-color: #FFF8DC;
    width: 200px;
    height: 200px;  
}

.case div>p {
    font-family: 'Ethereal';
}

.case:hover{
    background:#EBB;
}


.hobbie {
    justify-content: center;
}

nav  ul li { 
    float:left;
    list-style: none;
}
nav  ul ul {
    display:none;
    width:300px;
    position: fixed;
}
nav  li {
    background:#5f4444ee;
}
nav  li a {
    text-decoration: none;
    color: #000;
    padding: 4px 0 4px;
    display:block;
    width:300px;
    
}
nav  ul {
    padding: 0;
    margin:0px;
    text-align:center;
}
nav  ul.niveau1 li.sousmenu:hover ul.niveau2{
    display:block;
}
nav  li:hover {
    background: #EDD;
}
nav  li.sousmenu:hover {
    background: #EBB;
}

.active {
    background-color: #705c45;
}

img {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
img:hover {
    border : 2px solid #000000;
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
}

.accueil img{
    object-position: center top;
    display: flex;
    justify-content: center;

}

.accueil h1{
    text-align: center;
    background-attachment: none;
    text-decoration: wavy;
    display: contents;
    padding: 1em;
    position: absolute;
}

.accueil{
    text-align: center;
    line-height: 1.5;
}

.box{
    background-color: #fff; /* Couleur de fond du carré blanc */
    padding: 20px; /* Espace intérieur du carré blanc */
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.box p {
    margin: 0;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .main {
        flex-direction: column;
    }

    aside {
        margin-top: 20px;
    }
}
